# This is Git's per-user configuration file.
[include]
	path = ./.gitconfig.user
[core]
	filemode = false
	ignorecase = true
	autocrlf = false
	editor = vim
	whitespace = trailing-space,space-before-tab
	pager = less -x1,5
[push]
	default = simple
[color "diff"]
	whitespace = red reverse
[merge]
	ff = false
	tool = meld
	log = true
[pull]
	ff = only
[branch]
	autosetuprebase = always
[color]
	ui = auto
[init]
	templatedir = ~/.git-templates
[alias]
    tree = log --oneline --decorate --all --graph
